.stories{
    border-style: solid;
    border-color: black;
    width: 50%;
    margin-left: 25%;

}

.card-img-top{
    border-radius: 20px;
}

.thought-bubble{
    border-style: solid;
    border-color: black;
    width: 50%;
    margin-left: 25%;
    margin-top: 10px ;
}

#textbox{
    padding: 10px;
    border-radius: 20px;
    height: 40px;
    width: 500px;
}

.textbox-img{
    height: 80px;
    border-radius: 100%;
}

form{
    padding: 0%;
}

.timeline{
    border-style: solid;
    border-color: black;
    width: 50%;
    margin-left: 25%;
    padding: 50px;
}